-- SQL to add auto_batch column to items table
ALTER TABLE items ADD COLUMN auto_batch BOOLEAN DEFAULT false;

-- Update existing items to have auto_batch = false by default
UPDATE items SET auto_batch = false WHERE auto_batch IS NULL;
